/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */
body {
background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(100,255,100,0.5));
}

h1 {
  font-family: papyrus;
  font-weight:bold;
  font-size: 50px;
  color: black;
  background-color: lightblue;
  display: -webkit-flex;
  padding: 30px 20px 10px 30px;
  text-shadow: 2px 5px 3px yellow;
}
h2 {
  font-family: papyrus;
  font-weight:bold;
  font-size: 30px;
  color: black;
  background-color: pink;
  display: -webkit-flex;
  padding: 20px 20px 5px 30px;
  text-shadow: 1px 1px 2px red;
}
h3 {
  font-family: herculanum;
  font-size: 20px;
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
  display: -webkit-flex;
  padding: 20px 20px 5px 30px;
}
p {
  font-family: courier;
  font-size: 18px;
  margin: 10px 20px 20px 20px;
  color: black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 705px;
}
img {
  max-width: 460px;
  padding: 20px;
  object-fit: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
footer {
  outline: 1px solid black;
  margin-left: 20px;
}
.veg {
  display: -webkit-flex;
  display: flex;
}
.fruits {
  display: -webkit-flex;
  display: flex;
  outline: 1px dotted;
}
.text {
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
}
.comicred {
  font-family: "comic sans ms";
  font-size: 18px;
  color: red;
  background-color: white;
}
.comicorange {
  font-family: "comic sans ms";
  font-size: 18px;
  color: orange;
  background-color: white;
}
.comicyellow {
  font-family: "comic sans ms";
  font-size: 18px;
  color: yellow;
  background-color: white;
}
.comicgreen {
  font-family: "comic sans ms";
  font-size: 18px;
  color: green;
  background-color: white;
}
.comicblue{
  font-family: "comic sans ms";
  font-size: 18px;
  color: blue;
  background-color: white;
}
.comicindigo{
  font-family: "comic sans ms";
  font-size: 18px;
  color: indigo;
  background-color: white;
}
.comicviolet{
  font-family: "comic sans ms";
  font-size: 18px;
  color: violet;
  background-color: white;
}
.darkgreen {
  color: darkgreen;
}
.darkred {
  color: darkred;
}
.darkblue {
  color: darkblue;
}
.green {
  color: green;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.indigo {
  color: indigo;
}
.violet {
  color: violet;
}
.blank {
  color: darkgrey;
}
